<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title})}">
<head>
    <title th:text="${loggedIn.name} + ' | Contact'"> 
    contact page
    </title>
</head>
<body>
    

    <div id="content">

        <div th:if="${loggedIn}">
            <div th:replace="~{user/sidebar::sidebar}"></div>
        </div>

        <div  class="md:pl-64 pt-20" style="height: 1000px;">
            <div class="grid grid-cols-12">
                <div class="col-span-3"></div>
                <div class="col-span-12 md:col-span-9 ">
                    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-blue-700 dark:hover:bg-gray-800 ">
                        <div th:replace="~{message::messagebox}"></div>
                        <h1 class="text-2xl font-semibold">Add New Contact </h1>
                        <p class="text-gray-100"> This contact will be stored on cloud ,you can direct email this client from scm.. </p>
                        <form th:action="@{'/user/contact/add'}" enctype="multipart/form-data" method="post"  class="mt-8 " th:object="${contactForm}" >
                            <div class="mb-3">
                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white w-full">Contact Name</label>
                                <div class="relative mb-1">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <i class="fa-regular fa-user h-4 w-4"></i>
                                </div>     
                                <input
                                type="text"
                                 th:field="*{name}"  id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-blue-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your name "/>
                                 <p data-th-if="${#fields.hasErrors('name')}"
                                 data-th-errors="*{name}"class="text-red-600 py-2 px-1"></p>
                                </div>
                                
                            </div>

                            <div class="mb-3 mb-3">
                                <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Email</label>
                                    <div class="relative mb-1">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-regular fa-envelope h-4 w-4"></i>
                                    </div>
                                    <input  th:field="*{email}"type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-blue-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@Gmail.com"/>
                                    <p data-th-if="${#fields.hasErrors('email')}"
                                 data-th-errors="*{email}"class="text-red-600 py-2 px-1"></p>    
                                </div>
                                    
                                </div>

                                <div class="mb-3">
                                    <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>
                                        <div class="relative mb-1">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            <i class="fa-solid fa-phone h-4 w-4"></i>
                                        </div>
                                        <input th:field="*{phoneNumber}"type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-blue-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="98684XXXXX"/>
                                        <p data-th-if="${#fields.hasErrors('phoneNumber')}"
                                 data-th-errors="*{phoneNumber}"class="text-red-600 py-2 px-1"></p>    
                                    </div>
                                        
                                </div>

                                <div class="mb-3">
                                    <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Address</label>
                                        <div class="relative mb-1">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            <i class="fa-solid fa-house-user h-4 w-4"></i>
                                        </div>
                                        <textarea th:field="*{address}"type="textarea"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-blue-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=" Your Address"></textarea>
                                        <p data-th-if="${#fields.hasErrors('address')}"
                                 data-th-errors="*{address}"class="text-red-600 py-2 px-1"></p>
                                    </div>
                                        
                                </div>

                                <div class="mb-3">
                                    <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Description</label>
                                        <div class="relative mb-6">
                                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                            <i class="fa-solid fa-pen h-4 w-4"></i>
                                        </div>
                                        <textarea th:field="*{description}"type="textarea"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-blue-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder=" Write about Your Contact"></textarea>
                                        </div>
                                        
                                </div>

                                <div class="flex space-x-2">
                                    <div class="w-full">
                                        <div class="mb-3">
                                           
                                                <div class="relative mb-6">
                                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                    <i class="fa-solid fa-earth-americas h-4 w-4"></i>
                                                </div>
                                                <input  th:field="*{websiteLink}"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-blue-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="http://example.com"/>
                                                </div>
                                        </div>

                                    </div>
                                    <div class="w-full">
                                        <div class="mb-3">
                                           
                                            <div class="relative mb-6">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-brands fa-linkedin h-4 w-4"></i>
                                            </div>
                                            <input th:field="*{Linkedlin}" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-blue-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://www.linkedin.com/in/name"/>
                                            </div>
                                    </div>

                                    </div>
                                </div>
                                <div>
                                     <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white dark:bg-black-800" for="large_size">Contact Image</label>
                                    <input 
                                    th:field="*{profilepic}" id="image_file_input" 
                                    class="block w-full text-lg text-gray-900 border border-gray-900 rounded-lg cursor-pointer bg-black-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"  type="file"/>
                                    <img src="" id="upload_image_preview" alt=""/>
                                    <p data-th-if="${#fields.hasErrors('profilepic')}"
                                 data-th-errors="*{profilepic}"class="text-red-600 py-2 px-1"></p>
                                </div>
                                
                                <div class="flex items-center mt-3">
                                    <input th:field="*{favorite}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-black-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
                                    <label  for="checked-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is This Contact is Your Favorite One ?</label>
                                </div>
                                <div class="flex justify-center mt-3 space-x-2">
                                    <button class="px-3 py-2 rounded bg-black text-white hover:dark:bg-blue-800"> Add Contact</button>
                                    <button class="px-3 py-2 rounded bg-black text-white hover:dark:bg-blue-800"> Reset</button>
                                </div>



                        </form>
                    </div>
                </div>
                    

                </div>
            </div>
            <script data-th-src="@{'/js/admin.js'}"></script>
            <script>
                console.log("this is profile page");
            </script>
          
        </div>
    
    <!-- <script th:src="@{'/js/Admin.js'}"></script> -->
    <!-- <script data-th-src="@{'/js/admin.js'}"></script>
    <script>
        console.log("this is profile page");
    </script> -->
    
</body>
</html>