<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title})}">
<head>
    <title data-th-text="${loggedIn.name} +' | Search'"> 
    Search page
    </title>
</head>
<body>
    

    <div id="content">

        <div th:if="${loggedIn}">
            <div th:replace="~{user/sidebar::sidebar}"></div>
        </div>

        <div  class="md:pl-64 pt-20" style="height: 1000px;">
            <div class="text-center">
                <h1 class="text-5xl">Search Result</h1>
                <!-- <span th:text="${pagecontact.totalElements} +'result found ">

                </span> -->
                <span th:text="${pagecontact.totalElements} + ' result(s) found'"></span>


            </div>
                 <div class="contact_controller">

                    <!-- class="border border-gray-300 dark:border-blue-900" -->

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <form action="" th:object="${contactSearchForm}" th:action="@{'/user/contact/search'}" method="get">
                    <div class="flex space-x-3 items-center justify-start  flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
                    <!-- select box -->
                     <div>
                        <!-- name="field" -->
                            <select name="field" th:field="*{field}" id="countries_disabled" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected value="">Select Field</option>
                            <option value="name">Name</option>
                            <option value="phone">Phone</option>
                            <option value="email">Email</option>
                            
                        </select>
                     </div>
                    <label for="table-search" class="sr-only">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <!-- name="keyword" -->
                        <input th:field="*{value}" type="text" id="table-search-users" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
                    </div>
                    <button type="submit"class="px-3 py-2 bg-gray-800 text-white rounded "> Search</button>
                </div>
            </form >
                <table class="w-full text-sm text-left rtl:text-right  text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase  bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr >
                            </th>
                            <th scope="col" class="px-6 py-3">Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Phone
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Link
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr  th:each="c : ${pagecontact.getContent()}" th:object="${c}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                          
                            <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                <img onerror="this.src='https://www.computerhope.com/jargon/g/guest-user.png'" class="w-10 h-10 rounded-full" data-th-src="@{*{picture}}"src="/docs/images/people/profile-picture-1.jpg" alt="Jese image">
                                <div class="ps-3">
                                    <div th:text="*{name}"class="text-base font-semibold">Neil Sims</div>
                                    <div th:text="*{email}"class="font-normal text-gray-500">neil.sims@flowbite.com</div>
                                </div>  
                            </th>
                            <td class="px-6 py-4">
                                <i class="fa-solid fa-phone w-4 h-4"></i>
                                <span th:text="*{phoneNumber}"></span>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex items-center">
                                    <div th:if="*{favorite}" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> 
                                    <a th:href="@{*{websiteLink}}"><i class="fa-solid fa-link w-6 h-6"></i></a>
                                    <a th:href="@{*{linkedInLink}}"><i class="fa-brands fa-linkedin w-6 h-6"></i></a>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="space-x-1">
                                    <a class="dark:hover:bg-red-900 hover:bg-red-900 "><i class="fa-solid fa-trash w-4 h-4"></i></a>
                                    <a class="dark:hover:bg-blue-900 hover:bg-blue-900"><i class="fa-regular fa-pen-to-square w-4 h-4"></i></a>
                                    <button  th:onclick="loadContactdata([[${c.id}]])" class="dark:hover:bg-green-900 hover:bg-green-900"><i class="fa-solid fa-eye w-4 h-4"></i></button>
            
                                </div>
                            </td>
                        </tr>
                       
                        
                        </tbody>
                    </table>
                    <!-- pagination component -->
                    <div class="pagination_container p-5 text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="inline-flex -space-x-px text-base h-10">
                              <li th:unless="${pagecontact.first}">
                                <a th:href="@{/user/contact/search(size=${pagesize}, page=${pagecontact.number-1}, field=${contactSearchForm.field}, value=${contactSearchForm.value})}" href="#" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>

                                <!-- <a th:href="@{'/user/contact/search/?size='+${pagesize}+'&page='+${pagecontact.number-1}+'&field='+${contactSearchForm.field}+'&value='+${contactSearchForm.value}}"href="#" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a> -->
                              </li>
                              <li th:each="index: ${#numbers.sequence(0,pagecontact.totalPages-1)}">
                                
                                <a th:href="@{/user/contact/search(size=${pagesize}, page=${index+1}, field=${contactSearchForm.field}, value=${contactSearchForm.value})}" href="#" th:classappend="${index==pagecontact.number? 'bg-blue-800': 'bg-white'}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-white-400 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span data-th-text="${index+1}"></span>
                                </a>
                                <!-- <a  th:href="@{'/user/contact/search/?size='+${pagesize}+'&page='+${index}+'&field='+${contactSearchForm.field}+'&value='+${contactSearchForm.value}}"  -->
                             </li>
                            
                              <li th:unless="${pagecontact.last}">
                                <a
                               
                                 th:href="@{/user/contact/search(size=${pagesize}, page=${pagecontact.number+1}, field=${contactSearchForm.field}, value=${contactSearchForm.value})}"class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                                <!-- th:href="@{'/user/contact/search/?size='+${pagesize}+'&page='+${pagecontact.number+1}+'&field='+${contactSearchForm.field}+'&value='+${contactSearchForm.value}}"   -->
                            </li>
                            </ul>
                          </nav>
                    </div>
                    </div>
            
                    </div>

        </div>
        <div th:replace="~{user/contact_modals::contact}"> </div>
        <script     th:src="@{'/js/contact.js'}"></script>
        
    
        </div>
  
    
</body>