<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title})}">
<head>
    <title> 
        Login page
    </title>
</head>
<body>

  <div id="content" >
        
   <div class="grid grid-cols-12">
    <div class="col-span-4 md:col-span-2 lg:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-4 pt-20">
         
            <div class="block p-6 border-t-[7px] border-green-700 bg-white rounded-lg shadow dark:bg-gray-800 dark:border-blue-700 ">
            <!-- message here -->
              <div th:replace="~{message::messagebox}">

              </div>
                
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Login here</h5>
            <div class="text-red-400" th:if="${param.error}"> Invalid username and password.</div>
            <div class="text-green-500" th:if="${param.logout}"> You have been logged out.</div>
          <form data-th-action="@{'/authenticate'}" th:method="post"class="mt-5 " >
            <!-- <div class="mb-3">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                <input  name="name"type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your name here" required />
                <p data-th-if="${#fields.hasErrors('name')}"
                data-th-errors="*{name}"class="text-red-600 py-2 px-1"></p> 
              </div> -->
            
            <!-- email field -->
            <div class="mb-3">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input name="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter email here" required />
                <!-- <p data-th-if="${#fields.hasErrors('email')}"
                data-th-errors="*{email}"class="text-red-600 py-2 px-1"> </p> -->
              </div>
            
            <!-- password field -->
            <div class="mb-3">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input name="password"type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter password here" required />
                <!-- <p data-th-if="${#fields.hasErrors('password')}"
                data-th-errors="*{password}"class="text-red-600 py-2 px-1"> </p>  -->
              </div>
            
           
            <div class="mb-3 flex justify-center space-x-3">
                <button type="submit" class="px-3 py-2 rounded bg-gray-700 hover:bg-gray-900 text-white dark:bg-blue-800 dark:hover:bg-blue-900 ">Login</button>
                <button type="reset"class="px-3 py-2 rounded bg-green-700 hover:bg-green-900 text-white dark:bg-red-900 dark:hover:bg-red-1000" >Reset</button>
            </div>
        </form>
        <div class="social-button-conatiner flex justify-center ">
          <a class=" px-3 login-with-google-btn" th:href="@{'/oauth2/authorization/google'}">Login with Google</a>
        </div>
        </div>

            


        </div>
    </div>
   </div>
    

        
  </div>
  
    
</body>
</html>